# Runs linter for Docker files
name: Trivy

on: workflow_call

permissions:
  contents: read
  security-events: read

jobs:
  trivy:
    name: Trivy
    runs-on: ${{ github.repository_owner == 'oneapi-src' && 'intel-ubuntu-22.04' || 'ubuntu-latest' }}
    permissions:
      security-events: write

    steps:
      - name: Clone the git repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Run Trivy
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: 'config'
          hide-progress: false
          format: 'sarif'
          output: 'trivy-results.sarif'
          exit-code: 1  # Fail if issue found
          # file with suppressions: .trivyignore (in root dir)

      - name: Print report and trivyignore file
        run: |
          echo "### Trivy ignore content:"
          cat .trivyignore
          echo "### Trivy report:"
          cat trivy-results.sarif

      - name: Upload results
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4.32.0
        with:
          sarif_file: 'trivy-results.sarif'
